
/* Nav Bar */

a {
  color: #fff;
  text-decoration: none;
}

#navbar {
  background:lightslategray;
  color: #fff;
  overflow: auto;
  width: 100%;
}

 #navbar .logo {    /*this is for the logo */
  float: left;
  padding-top: 10px;
  padding-left: 20px;  
}  

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;

}

#navbar ul li a {
  display:block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background-color:#00bcd4;
  color: white;
}


/*------- FOOTER----- */
#main-footer {
  text-align: center;
  background: lightslategray;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
}
.copyright{
  color: #00bcd4;
}

.fa {
  padding: 15px;
  font-size: 30px;
  text-align:center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
    color:#00bcd4;
}

.fa-linkedin-square{
  /* background: #3B5998; */
  color: white;
}

.fa-github {
  color: white;
}

/* HOME */

 /* PROJECTS */
 .projects-header{
   display: flex;
   justify-content: center;  /*aligns center left/right */
   align-items: center;  /*aligns center between top/bottom*/
   background-color: white;
   font-size:60px;
   height: 200px;
   margin: 0;
   font-weight:bold;
   color:black;
   font-size:70px; 
 }

 .container-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*center items left/right */
  background-color: white;
  height:100%;
  font-family:'Oswald', sans-serif;
  align-content: flex-start;  /*items packed to the start of the container*/
 }

 .container-projects div{
  background-color: lightblue;
  width: 600px;
  margin: 10px;
  text-align: center;;
  /* line-height: px; */
  font-size: 30px;
  height: 400px;
  box-shadow: 10px 10px 18px lightslategray;
 }

 .container-projects div:hover{
  /* opacity: 0.7; */
  background-color:#00bcd4;
 }

 .container-projects img{
   width: 250px;
   padding-top: 60px;
   height: 150px;
 }

 .container-projects h2{
   margin: 0;
   font-weight: normal;
   font-size: 35px;
 }

 .container-projects p{
   margin: 10px auto;
   width: 500px;
   height: 50px;
   font-size: 18px;
 }

 .container-projects .projects-btn {
  font-size: 15px;
  color: #fff;
  background: lightslategray;
  padding: 6px 15px;
  border: none;
  cursor: pointer;
  margin-left:20px;
 }
 .container-projects .projects-btn:hover{
   background-color: white;
   color: black;
 }

/* Resume */
.resume-img {
  display: block;
  border: solid #00bcd4;
  width: 800px;
  margin: 20px auto;
}

.download-btn{
  display: block;
  margin: 0 auto;
  color:white;
  background-color:#00bcd4;
  font-size: 20px;
  padding-right: 20px;
}
 .download-btn:hover{
   color:white;
   background-color:lightgray ;
 }
 /* Contact Page */

#contact-form {
  display: flex;
  justify-content:center;  /*center on from left/right*/
  /* font-family:'Oswald', sans-serif; */
}

.container{
  background-color: #00bcd4;
  width: 500px;
  height:640px;
  /* padding-left: 105px; */
  margin:30px;
}

.contact-header {
  padding-left: 190px;
}
  
.container p{
  margin-left: 100px;
}

#contact-form .form-group {
  margin-bottom: 20px;
  padding-left: 40px;
}

#contact-form label {
  display:block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 400px;
  padding: 10px;
  border: 1px black solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: blue;
}

.btn {
  display:block;
  font-size: 18px;
  color: black;
  background: white;
  padding: 13px 20px;
  border: solid black 1px;
  cursor: pointer;
  margin:0 auto;
}

.btn:hover {
  background:lightslategray;
  color: white;
}


/* -----Home----- */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);


#home-container h2 {
  /* font-family:'Oswald', sans-serif; */
  font-size:70px; letter-spacing:10px; text-align:center;
  color:black;  
  z-index:10;
}
#home-container .welcome{
   font-family:'Oswald', sans-serif;
  font-size:50px; letter-spacing:5px; text-align:center;
  color:black;  
  z-index:10;
}

#home-container p {
  font-family:'Source Sans Pro', sans-serif;
  font-weight:400;
  font-size:30px; 
  line-height:28px;
  padding: 30px;
}

/* Home Section - about */
#home-container .about {
  display: flex;
  background: white;
  padding: 60px;
  width:1000px; 
  margin:0 auto;
  text-align:justify;
}

.about img{
  height: 300px;
  align-self: center;
  box-shadow: 10px 10px 18px lightslategray;
}

/* Home Section - hero-container*/
#home-container .hero-container {
  /* padding-top: 200px; */
  padding-bottom: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1517162024945-595ae6bca1a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;
}

div.transbox{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: .7;
}



/* Media Queries */
@media screen and (max-width: 959px) and (min-width: 768px) {
  #home-container .about {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #home-container .about {padding: 30px; width:420px;}
  #home-container h2 {font-size:30px;}
  #home-container .about {padding: 30px;}
  #home-container .parallax-one, #home-container .parallax-two, #home-container .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #home-container .about {padding: 30px 15px; width:290px;}
}

